<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/styles/styles.css" />
    <title> Weather Application Page not found</title>
  </head>
  <body>
    {{>header}}
    <div class="content">
        <h6 class="text-bold">
            Wait! erh!! this is embarassing, but you might are most likely not at the right place.
        </h6>
    </div>
       {{>footer}} 
  </body>
</html>