<header class="header-container">
    <h1 class="headerTitle">{{title}}</h1>
    <h4 class="subtitle">Get the Weather anytime</h4>
    <nav class="navbar">
        <ul class="ul-list">
            <li class="nav-li">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-li">
                <a href="/about" class="nav-link">About</a>
            </li>

             <li class="nav-li">
                <a href="/help" class="nav-link">Help</a>
            </li>
        </ul>
    </nav>
</header>